<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CE.Resource" publicKeyToken="bd8139160a75b2cf" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.1" newVersion="2.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>